/*-- HEADER CONTAINER --*/
header {
  display: flex;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom: 1px solid black;
}

.logo { /* This should  be called .logo-container*/
  display: flex;
  flex-grow: 1; /* .logo container will GROW to fill any extra available space. */
  color: MediumAquamarine;
  align-items: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}

span {
  padding: 15px;
}

a {
  color: black;
}

/*-- MAIN CONTAINER --*/

main {
  display: flex;
  border: 3px solid yellow;
}

div {
  border: 1px solid red;
}

.column.large {
  display: flex;
  flex-direction: column;
  border: 2px solid aqua;
  width: 630px;
}

.column.medium {
  width: 300px;
  border: 2px solid aqua;
}

.column.small {
  width: 240px;
  border: 2px solid aqua;
}
